.table-data {
  overflow: hidden;
  overflow-x: auto;
}
.bg-white {
  color: white;
}
table {
  width: 100%;
}

.disabled {
  color: #9e9e9e;
  cursor: not-allowed;
}
mat-icon {
  vertical-align: middle;
}

.iconColor {
  color: #001196;
}

.pointer {
  cursor: pointer;
}
.pageNumber {
  color: #9e9e9e;
  padding: 10px 20px;
}
.widthClass {
  width: 100%;
}
